<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Breaking Bad characters
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-toolbar class="search-bar" mode="ios">
    <ion-searchbar mode="ios" placeholder="Find Name" [(ngModel)]="filterName" [debounce]="500"></ion-searchbar>
    <ion-searchbar mode="ios" placeholder="Filter Season" [(ngModel)]="filterSeason" [debounce]="500" inputmode="numeric"></ion-searchbar>
  </ion-toolbar>

  <ion-list>
    <app-user
      *ngFor="let user of store.users | filter:'name':filterName | filter:'appearance':filterSeason; trackBy:trackItems"
      [user]="user">
    </app-user>
  </ion-list>
</ion-content>
